<a href="https://colab.research.google.com/github/MLEngDeena/M.Tech-Project/blob/main/Merging_Two_Dataset_Into_One_Labelled_and_Unlabeled_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Installation of Necessary Packages

In [1]:
!pip install hampel
!pip install plotly==5.4.0

Collecting hampel
  Downloading hampel-0.0.5-py3-none-any.whl (3.7 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from hampel) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from hampel) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->hampel) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->hampel) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->hampel) (1.15.0)
Installing collected packages: hampel
Successfully installed hampel-0.0.5
Collecting plotly==5.4.0
  Downloading plotly-5.4.0-py2.py3-none-any.whl (25.3 MB)
     |████████████████████████████████| 25.3 MB 1.5 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly==5.4.0) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly==5.4.0) (8.0.1)
Installing collected packages: plotly
  Attempting uninstall: plotly
    Found existing installation: plotly 5.5.0
    Uninstalling plotly-5.5.0:
      Successfully uninstalled plotly-5.5.0
Successfully installed plotly-5.4.0

Import Necessary Packages

In [2]:
import sys
import pandas as pd
from math import sqrt, atan2
import re
import matplotlib.pyplot as plt
from hampel import hampel
from scipy.signal import butter, sosfilt
import plotly.express as px
import random

import os
from google.colab import files

Load the Dataset and Extract Ampltiude and Phase then save into a new CSV file named AccessPointAmp&Phase

In [3]:
d = pd.read_csv("/content/AccessPointTestData.CSV")

col = [i for i in range(64)]
df = pd.DataFrame(columns = col)

amps = []

for i, j in enumerate(d['CSI_DATA']):
    #if (i==0):
        #continue
    
    imaginary = []
    real = []
    amp = []
    row = []
    
    csi_string = re.findall(r"\[(.*)\]", j)[0]
    csi_raw = [int(x) for x in csi_string.split(" ") if x != '']
    
    for k in range(len(csi_raw)):
        if (k%2 == 0):
            imaginary.append(csi_raw[k])
        else:
            real.append(csi_raw[k])
            
    for k in range(int(len(csi_raw) / 2)):
        amp.append(round(sqrt(imaginary[k] ** 2 + real[k] ** 2), 1))
        
    amps.append(amp)
    
for i in amps:
    temp = pd.Series(i, index=df.columns)
    df = df.append(temp, ignore_index=True)

df.to_csv("AccessPointAmp&Phase.csv", index=False)
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,110.0,9.0,0.0,0.0,0.0,0.0,23.1,33.1,20.6,34.5,...,17.5,17.5,18.0,16.8,17.7,0.0,0.0,0.0,0.0,0.0
1,164.9,8.0,0.0,0.0,0.0,0.0,13.3,13.3,13.6,13.9,...,9.0,10.0,9.1,9.1,10.0,0.0,0.0,0.0,0.0,0.0
2,125.9,23.0,0.0,0.0,0.0,0.0,12.0,12.8,11.4,12.8,...,10.6,10.6,11.3,11.3,11.3,0.0,0.0,0.0,0.0,0.0
3,125.9,23.0,0.0,0.0,0.0,0.0,17.0,17.0,17.1,17.1,...,7.2,7.2,7.2,7.2,6.7,0.0,0.0,0.0,0.0,0.0
4,126.3,4.0,0.0,0.0,0.0,0.0,15.2,15.7,15.3,16.6,...,9.1,9.0,9.0,9.1,9.0,0.0,0.0,0.0,0.0,0.0

Load the Dataset and Extract Ampltiude and Phase then save into a new CSV file named StationAmp&Phase

In [15]:
d = pd.read_csv("/content/StationTestData.CSV")

col = [i for i in range(64)]
df = pd.DataFrame(columns = col)

amps = []

for i, j in enumerate(d['CSI_DATA']):
    #if (i==0):
        #continue
    
    imaginary = []
    real = []
    amp = []
    row = []
    
    csi_string = re.findall(r"\[(.*)\]", j)[0]
    csi_raw = [int(x) for x in csi_string.split(" ") if x != '']
    
    for k in range(len(csi_raw)):
        if (k%2 == 0):
            imaginary.append(csi_raw[k])
        else:
            real.append(csi_raw[k])
            
    for k in range(int(len(csi_raw) / 2)):
        amp.append(round(sqrt(imaginary[k] ** 2 + real[k] ** 2), 1))
        
    amps.append(amp)
    
for i in amps:
    temp = pd.Series(i, index=df.columns)
    df = df.append(temp, ignore_index=True)

df.to_csv("StationAmp&Phase.csv", index=False)
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,133.9,8.0,0.0,0.0,0.0,0.0,20.2,20.6,20.1,21.5,...,21.2,20.6,21.9,21.0,21.0,0.0,0.0,0.0,0.0,0.0
1,164.9,8.0,0.0,0.0,0.0,0.0,10.4,11.4,11.4,12.2,...,11.0,12.0,11.0,10.2,11.2,0.0,0.0,0.0,0.0,0.0
2,23.3,14.0,0.0,0.0,0.0,0.0,13.0,13.9,13.6,13.6,...,8.9,8.9,8.9,9.4,9.4,0.0,0.0,0.0,0.0,0.0
3,88.1,2.0,0.0,0.0,0.0,0.0,27.8,28.8,28.0,29.7,...,12.5,12.1,12.4,12.2,13.0,0.0,0.0,0.0,0.0,0.0
4,126.3,4.0,0.0,0.0,0.0,0.0,26.9,27.7,28.2,29.5,...,11.0,11.0,11.2,10.2,10.8,0.0,0.0,0.0,0.0,0.0

Add Dummy Data by Changing Values according to previous Value :This way we can get more data set for training , Just for testing not for practical application . We have to test for the size upto which ESP32 can hold

In [ ]:
Dataset = pd. read_csv("Amplitue&Phase.csv")
Dataset.iloc[0][0] 
print(Dataset)
#I will add some more code Later

Now I will Merge Both StationAmp&Phase and AccessPointAmp&Phase

In [12]:
Dataset1 = pd. read_csv("/content/AccessPointAmp&Phase.csv")
Dataset2 = pd. read_csv("/content/StationAmp&Phase")

TempFrames = [Dataset1, Dataset2]

MergedDataset = pd.concat(TempFrames)
MergedDataset.to_csv("FinalUnlabelledDataset.csv", index=False)

UnlabelledDataset = pd.read_csv("/content/FinalUnlabelledDataset.csv")
print(UnlabelledDataset)

         0     1    2    3    4    5     6     7     8     9  ...    54    55  \
0    110.0   9.0  0.0  0.0  0.0  0.0  23.1  33.1  20.6  34.5  ...  17.5  17.5
1    164.9   8.0  0.0  0.0  0.0  0.0  13.3  13.3  13.6  13.9  ...   9.0  10.0
2    125.9  23.0  0.0  0.0  0.0  0.0  12.0  12.8  11.4  12.8  ...  10.6  10.6
3    125.9  23.0  0.0  0.0  0.0  0.0  17.0  17.0  17.1  17.1  ...   7.2   7.2
4    126.3   4.0  0.0  0.0  0.0  0.0  15.2  15.7  15.3  16.6  ...   9.1   9.0
..     ...   ...  ...  ...  ...  ...   ...   ...   ...   ...  ...   ...   ...
674  146.0   6.0  0.0  0.0  0.0  0.0  11.7  11.7  11.7  13.0  ...   7.0   7.0
675  146.0   6.0  0.0  0.0  0.0  0.0  12.4  12.4  13.6  13.3  ...   8.1   7.2
676  146.0   6.0  0.0  0.0  0.0  0.0  11.7  12.6  12.6  12.6  ...   7.2   7.8
677  146.0   6.0  0.0  0.0  0.0  0.0  12.0  12.7  12.0  12.8  ...   7.6   7.6
678  146.0   6.0  0.0  0.0  0.0  0.0  10.8  12.1  12.1  13.4  ...   7.1   6.1

       56    57    58   59   60   61   62   63
0    18.0  16.8  17.7  0.0  0.0  0.0  0.0  0.0
1     9.1   9.1  10.0  0.0  0.0  0.0  0.0  0.0
2    11.3  11.3  11.3  0.0  0.0  0.0  0.0  0.0
3     7.2   7.2   6.7  0.0  0.0  0.0  0.0  0.0
4     9.0   9.1   9.0  0.0  0.0  0.0  0.0  0.0
..    ...   ...   ...  ...  ...  ...  ...  ...
674   7.1   7.1   6.1  0.0  0.0  0.0  0.0  0.0
675   7.8   7.8   7.1  0.0  0.0  0.0  0.0  0.0
676   7.1   7.1   7.1  0.0  0.0  0.0  0.0  0.0
677   7.3   7.3   7.3  0.0  0.0  0.0  0.0  0.0
678   7.0   6.0   6.1  0.0  0.0  0.0  0.0  0.0

[679 rows x 64 columns]

Adding Result Column and Assigning Random Value of 0 or 1

In [14]:
TempDataset = pd.read_csv("//content/FinalUnlabelledDataset.csv")
TempDataset["Result"] = "0"
for i in range(TempDataset["Result"].count()):
  n = random.randint(0,1)
  TempDataset.loc[i,"Result"] = n
  #print(i, n,Dataset.loc[i]["Result"])

TempDataset.to_csv("FinalLabelledDataset.csv", index=False)
print(TempDataset)

         0     1    2    3    4    5     6     7     8     9  ...    55    56  \
0    110.0   9.0  0.0  0.0  0.0  0.0  23.1  33.1  20.6  34.5  ...  17.5  18.0
1    164.9   8.0  0.0  0.0  0.0  0.0  13.3  13.3  13.6  13.9  ...  10.0   9.1
2    125.9  23.0  0.0  0.0  0.0  0.0  12.0  12.8  11.4  12.8  ...  10.6  11.3
3    125.9  23.0  0.0  0.0  0.0  0.0  17.0  17.0  17.1  17.1  ...   7.2   7.2
4    126.3   4.0  0.0  0.0  0.0  0.0  15.2  15.7  15.3  16.6  ...   9.0   9.0
..     ...   ...  ...  ...  ...  ...   ...   ...   ...   ...  ...   ...   ...
674  146.0   6.0  0.0  0.0  0.0  0.0  11.7  11.7  11.7  13.0  ...   7.0   7.1
675  146.0   6.0  0.0  0.0  0.0  0.0  12.4  12.4  13.6  13.3  ...   7.2   7.8
676  146.0   6.0  0.0  0.0  0.0  0.0  11.7  12.6  12.6  12.6  ...   7.8   7.1
677  146.0   6.0  0.0  0.0  0.0  0.0  12.0  12.7  12.0  12.8  ...   7.6   7.3
678  146.0   6.0  0.0  0.0  0.0  0.0  10.8  12.1  12.1  13.4  ...   6.1   7.0

       57    58   59   60   61   62   63  Result
0    16.8  17.7  0.0  0.0  0.0  0.0  0.0       0
1     9.1  10.0  0.0  0.0  0.0  0.0  0.0       1
2    11.3  11.3  0.0  0.0  0.0  0.0  0.0       0
3     7.2   6.7  0.0  0.0  0.0  0.0  0.0       1
4     9.1   9.0  0.0  0.0  0.0  0.0  0.0       0
..    ...   ...  ...  ...  ...  ...  ...     ...
674   7.1   6.1  0.0  0.0  0.0  0.0  0.0       0
675   7.8   7.1  0.0  0.0  0.0  0.0  0.0       0
676   7.1   7.1  0.0  0.0  0.0  0.0  0.0       0
677   7.3   7.3  0.0  0.0  0.0  0.0  0.0       1
678   6.0   6.1  0.0  0.0  0.0  0.0  0.0       1

[679 rows x 65 columns]